h2{
  text-align: center;  
  border: solid;
  text-decoration: red underline;
  letter-spacing: 10px;
}
h3{
    text-align: left;
    text-decoration: white line-through;
}
p{
    text-align: justify;
    line-height: 1.5;
}